<app-header></app-header>
<section class="relative text-[#181a24] min-h-screen">
    <div class="absolute inset-0 overflow-hidden">
        <img src="../../../../assets/Voyages.jpg" alt="Many traveling items" class="w-full h-full object-cover object-center opacity-35 fixed">
    </div>
    <div class="relative z-10 flex flex-col h-full items-center px-4 py-30">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">Catalogue des voyages</h1>
        <p class="text-lg md:text-2xl mb-8">Parcourez notre sélection de destinations et d'activités de voyage</p>
        <div class="relative">
            @if (isLoading()) {
                <p class="text-center">Chargement des voyages...</p>
            }
    
            @if (error()) {
                <p class="text-center text-red-500">Une erreur est survenue lors du chargement des voyages. Veuillez réessayer plus tard.</p>
            }
    
            @if (!isLoading() && voyages().length > 0) {
                <div class="container mx-auto">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                        @for (voyage of voyages(); track voyage.id) {
                            <div class="relative rounded-border overflow-hidden">
                                <img [src]="voyage.imageUrls" [alt]="voyage.title" class="w-full h-64 object-cover" />
                                <h3 class="font-bold text-xl">{{ voyage.title }}</h3>
                            </div>
                        }
                    </div>
                </div>
            }
    </div>
    </div>
</section>

<app-footer class="relative z-10"></app-footer>
